<% layout("/Layouts/boilerplate") %>
<body>
    <h2>Listings Details</h2>
    
    <div class="md-center">
        <br><br><br>
        <h3><%= data.title %></h3>
        <br>
        <div>
            <img src="<%= data.image %>" alt="photo" width="500px">
            
        </div>
        <p><%= data.description %></p>
        <p>&#8377;<%= data.price.toLocaleString("en-IN")%></p>
        <p><%= data.location %></p>
        <p><%= data.country %></p>
        
        <div class="first">
            <div>
                <form action="/listings/<%= data.id %>/edit" method="get">
                    <button>Edit</button>
                </form>
            </div>
            <div>
                
        <form action="/listings/<%= data.id %>?_method=DELETE" method="post">
            <button id="del">Delete </button>
        </form>
            </div>
        </div>
        
    </div>
        
    
    
</body>
