<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show About the List</title>
</head>
<body>
    <h3>Listings Details</h3>
    
    </form>
    <ul>
        <li><%= data.title %></li>
        <li><%= data.description %></li>
        <li>&#8377;<%= data.price.toLocaleString("en-IN")%></li>
        <li><%= data.location %></li>
        <li><%= data.country %></li>
        
    </ul>
    <a href="/listings/<%= data.id %>/edit">Edit this Listing</a>
    <form action="/listings/<%= data.id %>?_method=DELETE" method="post">
        <button>Delete this Listing</button>
    </form>
    
</body>
</html>